*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependenciesproject/plugins.sbt~
project/plugins.sbt~
src/main/scala/.#Euler002.scala
